In [2]:
import json
import pandas as pd
import numpy as np

In [3]:
df_csv_visual=pd.read_csv("listings.csv")
df_csv_visual

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,1208229396139150589,https://www.airbnb.com/rooms/1208229396139150589,2.024120e+13,08/12/24,city scrape,Two Bedroom With Sunroom in The Heart of Manly,Just minutes from Manly Beach and the vibrant ...,"Manly, nestled along Sydney's picturesque Nort...",https://a0.muscache.com/pictures/prohost-api/H...,279001183,...,4.73,4.73,4.55,PID-STRA-68560,t,194,194,0,0,4.23
1,1226551214174044599,https://www.airbnb.com/rooms/1226551214174044599,2.024120e+13,08/12/24,city scrape,Beachfront ensuite room,The apartment is tastefully renovated in a coa...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,24295514,...,4.85,5.00,4.80,PID-STRA-42703,f,2,0,2,0,6.06
2,1264833485512910590,https://www.airbnb.com/rooms/1264833485512910590,2.024120e+13,08/12/24,city scrape,Bright Queen Room - Central Location,Searching for a comfortable and inviting place...,"Ryde is a suburb of Sydney, New South Wales, A...",https://a0.muscache.com/pictures/prohost-api/H...,255319514,...,5.00,5.00,5.00,PID-STRA-47947,t,46,4,42,0,0.77
3,1264834761942196027,https://www.airbnb.com/rooms/1264834761942196027,2.024120e+13,08/12/24,city scrape,Private Double Room - Centrally located,Searching for a comfortable and inviting place...,"Ryde is a suburb of Sydney, New South Wales, A...",https://a0.muscache.com/pictures/prohost-api/H...,255319514,...,4.50,4.50,4.50,PID-STRA-47947,t,46,4,42,0,2.00
4,929853,https://www.airbnb.com/rooms/929853,2.024120e+13,08/12/24,city scrape,Modern Stylish Bondi Apartment,5 Night Long Weekend Special - $199 per night,NaN,https://a0.muscache.com/pictures/14102560/1583...,5007351,...,4.50,4.83,4.17,NaN,f,1,1,0,0,0.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17712,1305466650690461821,https://www.airbnb.com/rooms/1305466650690461821,2.024120e+13,08/12/24,city scrape,"Studio Modern, Pyrmont ISYD",Refined architectural 1 bedroom apartment with...,NaN,https://a0.muscache.com/pictures/prohost-api/H...,7409213,...,NaN,NaN,NaN,PID-STRA-73850,t,179,179,0,0,NaN
17713,1305545916099249965,https://www.airbnb.com/rooms/1305545916099249965,2.024120e+13,08/12/24,city scrape,Designer 3 Bedroom w/ Patio,Manly Waves is a boutique hotel offering styli...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,386932887,...,NaN,NaN,NaN,Exempt,t,11,9,2,0,NaN
17714,1305547378345209569,https://www.airbnb.com/rooms/1305547378345209569,2.024120e+13,08/12/24,city scrape,Spacious Sunny Entire Unit - Chippendale Sydney,It is a cozy and modern apartment unit. The sp...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,465271405,...,NaN,NaN,NaN,PID-STRA-74341,f,10,10,0,0,NaN
17715,1305579456463125891,https://www.airbnb.com/rooms/1305579456463125891,2.024120e+13,08/12/24,city scrape,2-StoreyApt︱2BR︱Parking︱Walk-Ashfield Mall & T...,This contemporary security apartment is locate...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,565965713,...,NaN,NaN,NaN,Exempt,f,21,21,0,0,NaN
17716,1305599769915115847,https://www.airbnb.com/rooms/1305599769915115847,2.024120e+13,08/12/24,city scrape,burwood高楼层1b1b 风景超级好 华人区生活便利,This spacious and quiet space can make you for...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,56663585,...,NaN,NaN,NaN,Exempt,f,7,7,0,0,NaN

In [4]:
df_csv_visual.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17717 entries, 0 to 17716
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            17717 non-null  int64
 1   listing_url                                   17717 non-null  object
 2   scrape_id                                     17717 non-null  float64
 3   last_scraped                                  17717 non-null  object
 4   source                                        17717 non-null  object
 5   name                                          17717 non-null  object
 6   description                                   17344 non-null  object
 7   neighborhood_overview                         8429 non-null   object
 8   picture_url                                   17717 non-null  object
 9   host_id                                       17717 non-null  int64
 10  host_url                                      17717 non-null  object
 11  host_name                                     17716 non-null  object
 12  host_since                                    17716 non-null  object
 13  host_location                                 13022 non-null  object
 14  host_about                                    10348 non-null  object
 15  host_response_time                            15137 non-null  object
 16  host_response_rate                            15137 non-null  object
 17  host_acceptance_rate                          15635 non-null  object
 18  host_is_superhost                             16968 non-null  object
 19  host_thumbnail_url                            17716 non-null  object
 20  host_picture_url                              17716 non-null  object
 21  host_neighbourhood                            5099 non-null   object
 22  host_listings_count                           17716 non-null  float64
 23  host_total_listings_count                     17716 non-null  float64
 24  host_verifications                            17716 non-null  object
 25  host_has_profile_pic                          17716 non-null  object
 26  host_identity_verified                        17716 non-null  object
 27  neighbourhood                                 8429 non-null   object
 28  neighbourhood_cleansed                        17717 non-null  object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      17717 non-null  float64
 31  longitude                                     17717 non-null  float64
 32  property_type                                 17717 non-null  object
 33  room_type                                     17717 non-null  object
 34  accommodates                                  17717 non-null  int64
 35  bathrooms                                     16138 non-null  float64
 36  bathrooms_text                                17703 non-null  object
 37  bedrooms                                      17433 non-null  float64
 38  beds                                          16098 non-null  float64
 39  amenities                                     17717 non-null  object
 40  price                                         16147 non-null  object
 41  minimum_nights                                17717 non-null  int64
 42  maximum_nights                                17717 non-null  int64
 43  minimum_minimum_nights                        17717 non-null  int64
 44  maximum_minimum_nights                        17717 non-null  int64
 45  minimum_maximum_nights                        17717 non-null  int64
 46  maximum_maximum_nights                        17717 non-null  int64
 47  minimum_nights_avg_ntm                        17717 non-null  float64
 48  maximum_nights_avg_ntm                        17717 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              17515 non-null  object
 51  availability_30                               17717 non-null  int64
 52  availability_60                               17717 non-null  int64
 53  availability_90                               17717 non-null  int64
 54  availability_365                              17717 non-null  int64
 55  calendar_last_scraped                         17717 non-null  object
 56  number_of_reviews                             17717 non-null  int64
 57  number_of_reviews_ltm                         17717 non-null  int64
 58  number_of_reviews_l30d                        17717 non-null  int64
 59  first_review                                  13964 non-null  object
 60  last_review                                   13964 non-null  object
 61  review_scores_rating                          13964 non-null  float64
 62  review_scores_accuracy                        13962 non-null  float64
 63  review_scores_cleanliness                     13963 non-null  float64
 64  review_scores_checkin                         13962 non-null  float64
 65  review_scores_communication                   13963 non-null  float64
 66  review_scores_location                        13962 non-null  float64
 67  review_scores_value                           13962 non-null  float64
 68  license                                       16218 non-null  object
 69  instant_bookable                              17717 non-null  object
 70  calculated_host_listings_count                17717 non-null  int64
 71  calculated_host_listings_count_entire_homes   17717 non-null  int64
 72  calculated_host_listings_count_private_rooms  17717 non-null  int64
 73  calculated_host_listings_count_shared_rooms   17717 non-null  int64
 74  reviews_per_month                             13964 non-null  float64
dtypes: float64(20), int64(20), object(35)
memory usage: 10.1+ MB

In [5]:
pd.options.display.max_rows = 10

In [6]:
df_csv_visual.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17717 entries, 0 to 17716
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            17717 non-null  int64
 1   listing_url                                   17717 non-null  object
 2   scrape_id                                     17717 non-null  float64
 3   last_scraped                                  17717 non-null  object
 4   source                                        17717 non-null  object
 5   name                                          17717 non-null  object
 6   description                                   17344 non-null  object
 7   neighborhood_overview                         8429 non-null   object
 8   picture_url                                   17717 non-null  object
 9   host_id                                       17717 non-null  int64
 10  host_url                                      17717 non-null  object
 11  host_name                                     17716 non-null  object
 12  host_since                                    17716 non-null  object
 13  host_location                                 13022 non-null  object
 14  host_about                                    10348 non-null  object
 15  host_response_time                            15137 non-null  object
 16  host_response_rate                            15137 non-null  object
 17  host_acceptance_rate                          15635 non-null  object
 18  host_is_superhost                             16968 non-null  object
 19  host_thumbnail_url                            17716 non-null  object
 20  host_picture_url                              17716 non-null  object
 21  host_neighbourhood                            5099 non-null   object
 22  host_listings_count                           17716 non-null  float64
 23  host_total_listings_count                     17716 non-null  float64
 24  host_verifications                            17716 non-null  object
 25  host_has_profile_pic                          17716 non-null  object
 26  host_identity_verified                        17716 non-null  object
 27  neighbourhood                                 8429 non-null   object
 28  neighbourhood_cleansed                        17717 non-null  object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      17717 non-null  float64
 31  longitude                                     17717 non-null  float64
 32  property_type                                 17717 non-null  object
 33  room_type                                     17717 non-null  object
 34  accommodates                                  17717 non-null  int64
 35  bathrooms                                     16138 non-null  float64
 36  bathrooms_text                                17703 non-null  object
 37  bedrooms                                      17433 non-null  float64
 38  beds                                          16098 non-null  float64
 39  amenities                                     17717 non-null  object
 40  price                                         16147 non-null  object
 41  minimum_nights                                17717 non-null  int64
 42  maximum_nights                                17717 non-null  int64
 43  minimum_minimum_nights                        17717 non-null  int64
 44  maximum_minimum_nights                        17717 non-null  int64
 45  minimum_maximum_nights                        17717 non-null  int64
 46  maximum_maximum_nights                        17717 non-null  int64
 47  minimum_nights_avg_ntm                        17717 non-null  float64
 48  maximum_nights_avg_ntm                        17717 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              17515 non-null  object
 51  availability_30                               17717 non-null  int64
 52  availability_60                               17717 non-null  int64
 53  availability_90                               17717 non-null  int64
 54  availability_365                              17717 non-null  int64
 55  calendar_last_scraped                         17717 non-null  object
 56  number_of_reviews                             17717 non-null  int64
 57  number_of_reviews_ltm                         17717 non-null  int64
 58  number_of_reviews_l30d                        17717 non-null  int64
 59  first_review                                  13964 non-null  object
 60  last_review                                   13964 non-null  object
 61  review_scores_rating                          13964 non-null  float64
 62  review_scores_accuracy                        13962 non-null  float64
 63  review_scores_cleanliness                     13963 non-null  float64
 64  review_scores_checkin                         13962 non-null  float64
 65  review_scores_communication                   13963 non-null  float64
 66  review_scores_location                        13962 non-null  float64
 67  review_scores_value                           13962 non-null  float64
 68  license                                       16218 non-null  object
 69  instant_bookable                              17717 non-null  object
 70  calculated_host_listings_count                17717 non-null  int64
 71  calculated_host_listings_count_entire_homes   17717 non-null  int64
 72  calculated_host_listings_count_private_rooms  17717 non-null  int64
 73  calculated_host_listings_count_shared_rooms   17717 non-null  int64
 74  reviews_per_month                             13964 non-null  float64
dtypes: float64(20), int64(20), object(35)
memory usage: 10.1+ MB

In [7]:
#Extracción por columnas
data = df_csv_visual.iloc[ : , [0,2,9,12,18,22,23,24,25,26,28,29,30,31,34,35,37,38,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,61,62,63,64,65,66,67,69,70,71,72,73,74]] #columnas no consecutivas
data

,id,scrape_id,host_id,host_since,host_is_superhost,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,1208229396139150589,2.024120e+13,279001183,24/07/19,f,842.0,921.0,"['email', 'phone', 'work_email']",t,t,...,4.91,4.73,4.73,4.55,t,194,194,0,0,4.23
1,1226551214174044599,2.024120e+13,24295514,29/11/14,f,2.0,6.0,"['email', 'phone']",t,t,...,4.95,4.85,5.00,4.80,f,2,0,2,0,6.06
2,1264833485512910590,2.024120e+13,255319514,12/04/19,f,46.0,46.0,"['email', 'phone']",t,t,...,5.00,5.00,5.00,5.00,t,46,4,42,0,0.77
3,1264834761942196027,2.024120e+13,255319514,12/04/19,f,46.0,46.0,"['email', 'phone']",t,t,...,4.50,4.50,4.50,4.50,t,46,4,42,0,2.00
4,929853,2.024120e+13,5007351,07/02/13,f,1.0,1.0,"['email', 'phone']",t,t,...,5.00,4.50,4.83,4.17,f,1,1,0,0,0.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17712,1305466650690461821,2.024120e+13,7409213,10/07/13,f,237.0,354.0,"['email', 'phone', 'work_email']",t,t,...,NaN,NaN,NaN,NaN,t,179,179,0,0,NaN
17713,1305545916099249965,2.024120e+13,386932887,01/02/21,f,11.0,14.0,"['email', 'phone']",t,t,...,NaN,NaN,NaN,NaN,t,11,9,2,0,NaN
17714,1305547378345209569,2.024120e+13,465271405,20/06/22,f,10.0,10.0,['phone'],f,t,...,NaN,NaN,NaN,NaN,f,10,10,0,0,NaN
17715,1305579456463125891,2.024120e+13,565965713,07/03/24,t,28.0,33.0,"['email', 'phone']",t,t,...,NaN,NaN,NaN,NaN,f,21,21,0,0,NaN
17716,1305599769915115847,2.024120e+13,56663585,29/01/16,f,10.0,20.0,['phone'],t,t,...,NaN,NaN,NaN,NaN,f,7,7,0,0,NaN

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17717 entries, 0 to 17716
Data columns (total 50 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            17717 non-null  int64
 1   scrape_id                                     17717 non-null  float64
 2   host_id                                       17717 non-null  int64
 3   host_since                                    17716 non-null  datetime64[s]
 4   host_is_superhost                             16968 non-null  object
 5   host_listings_count                           17716 non-null  float64
 6   host_total_listings_count                     17716 non-null  float64
 7   host_verifications                            17716 non-null  object
 8   host_has_profile_pic                          17716 non-null  object
 9   host_identity_verified                        17716 non-null  object
 10  neighbourhood_cleansed                        17717 non-null  object
 11  neighbourhood_group_cleansed                  0 non-null      float64
 12  latitude                                      17717 non-null  float64
 13  longitude                                     17717 non-null  float64
 14  accommodates                                  17717 non-null  int64
 15  bathrooms                                     16138 non-null  float64
 16  bedrooms                                      17433 non-null  float64
 17  beds                                          16098 non-null  float64
 18  price                                         16147 non-null  object
 19  minimum_nights                                17717 non-null  int64
 20  maximum_nights                                17717 non-null  int64
 21  minimum_minimum_nights                        17717 non-null  int64
 22  maximum_minimum_nights                        17717 non-null  int64
 23  minimum_maximum_nights                        17717 non-null  int64
 24  maximum_maximum_nights                        17717 non-null  int64
 25  minimum_nights_avg_ntm                        17717 non-null  float64
 26  maximum_nights_avg_ntm                        17717 non-null  float64
 27  calendar_updated                              0 non-null      float64
 28  has_availability                              17515 non-null  object
 29  availability_30                               17717 non-null  int64
 30  availability_60                               17717 non-null  int64
 31  availability_90                               17717 non-null  int64
 32  availability_365                              17717 non-null  int64
 33  calendar_last_scraped                         17717 non-null  object
 34  number_of_reviews                             17717 non-null  int64
 35  number_of_reviews_ltm                         17717 non-null  int64
 36  number_of_reviews_l30d                        17717 non-null  int64
 37  review_scores_rating                          13964 non-null  float64
 38  review_scores_accuracy                        13962 non-null  float64
 39  review_scores_cleanliness                     13963 non-null  float64
 40  review_scores_checkin                         13962 non-null  float64
 41  review_scores_communication                   13963 non-null  float64
 42  review_scores_location                        13962 non-null  float64
 43  review_scores_value                           13962 non-null  float64
 44  instant_bookable                              17717 non-null  object
 45  calculated_host_listings_count                17717 non-null  int64
 46  calculated_host_listings_count_entire_homes   17717 non-null  int64
 47  calculated_host_listings_count_private_rooms  17717 non-null  int64
 48  calculated_host_listings_count_shared_rooms   17717 non-null  int64
 49  reviews_per_month                             13964 non-null  float64
dtypes: datetime64[s](1), float64(20), int64(20), object(9)
memory usage: 6.8+ MB

In [9]:
data.to_csv("Sydney.csv")

In [10]:
# 5 id diferentes

ID = data.iloc[ :5, 0]
print(ID)

ID.to_csv("puntoA.csv")

0    1208229396139150589
1    1226551214174044599
2    1264833485512910590
3    1264834761942196027
4                 929853
Name: id, dtype: int64

In [37]:
# Host despúes del 2020

Host2020 = data[(data["host_since"] >= '01/01/20')]
Host2020.to_csv("puntoB.csv")
Host2020

,id,scrape_id,host_id,host_since,host_is_superhost,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
418,4451610,2.024120e+13,518096233,2023-03-06,t,10.0,10.0,"['email', 'phone']",t,t,...,4.93,4.83,4.93,4.69,f,9,9,0,0,0.83
1495,15974985,2.024120e+13,548465633,2023-11-27,f,1.0,2.0,"['email', 'phone']",t,t,...,4.84,4.88,4.92,4.65,t,1,0,1,0,0.54
1542,16364076,2.024120e+13,565274006,2024-04-03,f,1.0,1.0,"['email', 'phone']",t,t,...,4.74,4.90,4.95,4.61,f,1,1,0,0,4.69
1721,17239521,2.024120e+13,526140891,2023-07-16,f,123.0,268.0,"['email', 'phone']",t,t,...,4.78,4.71,4.93,4.39,t,9,9,0,0,2.18
2488,23416487,2.024120e+13,338905680,2020-02-25,f,15.0,52.0,"['email', 'phone']",t,t,...,NaN,NaN,NaN,NaN,f,2,2,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17709,1305460016962091693,2.024120e+13,521211635,2023-06-21,f,17.0,31.0,"['email', 'phone']",t,t,...,NaN,NaN,NaN,NaN,t,13,10,3,0,NaN
17711,1305464294544026252,2.024120e+13,596666961,2024-08-17,f,7.0,7.0,"['email', 'phone']",t,t,...,NaN,NaN,NaN,NaN,f,4,4,0,0,NaN
17713,1305545916099249965,2.024120e+13,386932887,2021-01-02,f,11.0,14.0,"['email', 'phone']",t,t,...,NaN,NaN,NaN,NaN,t,11,9,2,0,NaN
17714,1305547378345209569,2.024120e+13,465271405,2022-06-20,f,10.0,10.0,['phone'],f,t,...,NaN,NaN,NaN,NaN,f,10,10,0,0,NaN
17715,1305579456463125891,2.024120e+13,565965713,2024-07-03,t,28.0,33.0,"['email', 'phone']",t,t,...,NaN,NaN,NaN,NaN,f,21,21,0,0,NaN

In [34]:
#Conversión de tipo de dato de columna de tipo Object a Float
data['host_since']= data['host_since'].astype('datetime64[s]')

/var/folders/b1/dh3v5zh509jbzst2tt2143dc0000gn/T/ipykernel_21599/2744264839.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['host_since']= data['host_since'].astype('datetime64[s]')

In [ ]:
# Usuarios con más de 100 reseñas

Propiedades = data[(data["number_of_reviews"] > 100)]
Propiedades.to_csv("puntoC.csv")
Propiedades

In [ ]:
# Filas multiplos de 200
multiplos200 = data.iloc[::200]
multiplos200.to_csv("puntoD.csv")
multiplos200

In [21]:
# cuartos tipo "Entire home" y "private room"
TipoCuarto = data[["calculated_host_listings_count_entire_homes", "calculated_host_listings_count_private_rooms"]]
TipoCuarto.to_csv("puntoE.csv")
TipoCuarto

,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms
0,194,0
1,0,2
2,4,42
3,4,42
4,1,0
...,...,...
17712,179,0
17713,9,2
17714,10,0
17715,21,0
17716,7,0

In [23]:
# Registros con 4 camas o menos
Camas = data[data["beds"] <= 4]
Camas.to_csv("puntoF.csv")
Camas

,id,scrape_id,host_id,host_since,host_is_superhost,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,1208229396139150589,2.024120e+13,279001183,24/07/19,f,842.0,921.0,"['email', 'phone', 'work_email']",t,t,...,4.91,4.73,4.73,4.55,t,194,194,0,0,4.23
1,1226551214174044599,2.024120e+13,24295514,29/11/14,f,2.0,6.0,"['email', 'phone']",t,t,...,4.95,4.85,5.00,4.80,f,2,0,2,0,6.06
2,1264833485512910590,2.024120e+13,255319514,12/04/19,f,46.0,46.0,"['email', 'phone']",t,t,...,5.00,5.00,5.00,5.00,t,46,4,42,0,0.77
3,1264834761942196027,2.024120e+13,255319514,12/04/19,f,46.0,46.0,"['email', 'phone']",t,t,...,4.50,4.50,4.50,4.50,t,46,4,42,0,2.00
4,929853,2.024120e+13,5007351,07/02/13,f,1.0,1.0,"['email', 'phone']",t,t,...,5.00,4.50,4.83,4.17,f,1,1,0,0,0.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17712,1305466650690461821,2.024120e+13,7409213,10/07/13,f,237.0,354.0,"['email', 'phone', 'work_email']",t,t,...,NaN,NaN,NaN,NaN,t,179,179,0,0,NaN
17713,1305545916099249965,2.024120e+13,386932887,01/02/21,f,11.0,14.0,"['email', 'phone']",t,t,...,NaN,NaN,NaN,NaN,t,11,9,2,0,NaN
17714,1305547378345209569,2.024120e+13,465271405,20/06/22,f,10.0,10.0,['phone'],f,t,...,NaN,NaN,NaN,NaN,f,10,10,0,0,NaN
17715,1305579456463125891,2.024120e+13,565965713,07/03/24,t,28.0,33.0,"['email', 'phone']",t,t,...,NaN,NaN,NaN,NaN,f,21,21,0,0,NaN
17716,1305599769915115847,2.024120e+13,56663585,29/01/16,f,10.0,20.0,['phone'],t,t,...,NaN,NaN,NaN,NaN,f,7,7,0,0,NaN

In [25]:
# Registros con la isignia Superhost
Superhost = data[data["host_is_superhost"] == "t"]
Superhost.to_csv("puntoG.csv")
Superhost

,id,scrape_id,host_id,host_since,host_is_superhost,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
11,14250,2.024120e+13,55948,20/11/09,t,2.0,2.0,"['email', 'phone']",t,t,...,4.67,4.33,4.67,4.33,f,2,2,0,0,0.03
12,15253,2.024120e+13,59850,03/12/09,t,1.0,6.0,"['email', 'phone']",t,t,...,4.81,4.76,4.76,4.56,t,1,0,1,0,3.84
13,58506,2.024120e+13,279955,06/11/10,t,1.0,3.0,"['email', 'phone']",t,t,...,4.89,4.92,4.76,4.72,f,1,1,0,0,2.50
14,934543,2.024120e+13,5041727,10/02/13,t,2.0,2.0,"['email', 'phone']",t,t,...,4.97,4.97,4.86,4.87,f,2,1,1,0,0.75
15,941603,2.024120e+13,5091457,15/02/13,t,1.0,1.0,"['email', 'phone']",t,t,...,4.96,4.97,4.95,4.91,f,1,1,0,0,0.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17679,1305664390303922460,2.024120e+13,557710252,21/01/24,t,29.0,33.0,"['email', 'phone']",t,t,...,NaN,NaN,NaN,NaN,f,24,24,0,0,NaN
17680,1305765558553330444,2.024120e+13,229982495,10/12/18,t,8.0,11.0,"['email', 'phone']",t,t,...,NaN,NaN,NaN,NaN,f,7,7,0,0,NaN
17682,1305797230110538101,2.024120e+13,339797336,02/03/20,t,15.0,16.0,"['email', 'phone']",t,t,...,NaN,NaN,NaN,NaN,f,11,10,1,0,NaN
17699,1305364325176483926,2.024120e+13,151464697,20/09/17,t,3.0,11.0,"['email', 'phone']",t,t,...,NaN,NaN,NaN,NaN,f,3,3,0,0,NaN
17715,1305579456463125891,2.024120e+13,565965713,07/03/24,t,28.0,33.0,"['email', 'phone']",t,t,...,NaN,NaN,NaN,NaN,f,21,21,0,0,NaN

In [28]:
#Columnas Impares
ColumnasImpares = data.iloc[:,[1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49]]
ColumnasImpares.to_csv("puntoH.csv")
ColumnasImpares

,scrape_id,host_since,host_listings_count,host_verifications,host_identity_verified,neighbourhood_group_cleansed,longitude,bathrooms,beds,minimum_nights,...,availability_90,calendar_last_scraped,number_of_reviews_ltm,review_scores_rating,review_scores_cleanliness,review_scores_communication,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_private_rooms,reviews_per_month
0,2.024120e+13,24/07/19,842.0,"['email', 'phone', 'work_email']",t,NaN,151.288290,1.0,3.0,3,...,3,08/12/24,11,4.64,5.00,4.73,4.55,194,0,4.23
1,2.024120e+13,29/11/14,2.0,"['email', 'phone']",t,NaN,151.286161,1.0,1.0,1,...,39,08/12/24,20,4.75,4.50,4.85,4.80,2,2,6.06
2,2.024120e+13,12/04/19,46.0,"['email', 'phone']",t,NaN,151.102405,1.5,1.0,1,...,69,08/12/24,1,5.00,5.00,5.00,5.00,46,42,0.77
3,2.024120e+13,12/04/19,46.0,"['email', 'phone']",t,NaN,151.102405,1.5,1.0,1,...,87,08/12/24,2,4.00,4.00,4.50,4.50,46,42,2.00
4,2.024120e+13,07/02/13,1.0,"['email', 'phone']",t,NaN,151.256430,1.0,2.0,90,...,90,08/12/24,0,4.33,4.17,4.50,4.17,1,0,0.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17712,2.024120e+13,10/07/13,237.0,"['email', 'phone', 'work_email']",t,NaN,151.193922,1.0,1.0,1,...,80,08/12/24,0,NaN,NaN,NaN,NaN,179,0,NaN
17713,2.024120e+13,01/02/21,11.0,"['email', 'phone']",t,NaN,151.285787,1.0,3.0,1,...,73,08/12/24,0,NaN,NaN,NaN,NaN,11,2,NaN
17714,2.024120e+13,20/06/22,10.0,['phone'],t,NaN,151.199690,1.0,1.0,1,...,64,08/12/24,0,NaN,NaN,NaN,NaN,10,0,NaN
17715,2.024120e+13,07/03/24,28.0,"['email', 'phone']",t,NaN,151.123770,1.0,3.0,1,...,78,08/12/24,0,NaN,NaN,NaN,NaN,21,0,NaN
17716,2.024120e+13,29/01/16,10.0,['phone'],t,NaN,151.102070,1.0,1.0,5,...,32,08/12/24,0,NaN,NaN,NaN,NaN,7,0,NaN